/* Style only for TOC Component*/

.toc.ui.vertical.menu .item > .header:not(.ui) {
  font-weight: bold;
  color: white;
  padding: 7px 20px;
}
.toc.ui.vertical.menu .item:nth-child(1) > .header:not(.ui) {
  background-color: rgb(192, 192, 192);
}
.toc.ui.vertical.menu .item:nth-child(2) > .header:not(.ui) {
  background-color: rgba(149, 162, 107, 1);
}
.toc.ui.menu .active.item,
.ui.vertical.menu .item .menu a.item:hover {
  font-weight: normal;
  color: #4183c4 !important;
}

.toc.ui.vertical.menu .menu .item {
  font-size: 14px;
  color: black;
}
.ui.vertical.menu .item:before {
  height: 0;
}

.toc.ui.vertical.menu {
  box-shadow: inherit;
  width: 20rem;
}

.toc.ui.menu,
.toc.ui.menu .item {
  border: 0;
  box-shadow: 0;
}
.toc.ui.menu:after {
  display: none;
}

.my_menu_item {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.my_menu_item > *:first-child {
  margin-right: 10px;
}
