.allCenter {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-height: 680px;
}

.App {
  height: 680px;
  width: 1024px;
  margin: auto;
  border: 1px solid #555;
  min-height: 680px;
}
