/*  THIS IS A GLOBAL STYLESHEET FOR ALL PAGES(HTML/JS)(NOT COMPONENTS) 
If you are looking for styles of TOC and other interective 
components of SHELL look directly by it's (.js) file */

/* First goes small style classes for fonts, paddings, margins, buttons, backgrounds*/

/* Afterwards goes extra styles for Components such as Popup, Table, TabPanel, Slider, Lists etc...*/
html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.15 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif !important;
}
*,
:after,
:before {
  box-sizing: inherit;
}
@font-face {
  font-family: "journal";
  src: local("journal"), url("./assets/fonts/journal.ttf") format("truetype"),
    url("./assets/fonts/journal-webfont.woff") format("woff"),
    url("./assets/fonts/journal-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

button,
input[type="reset"],
input[type="submit"] {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
.font16 {
  font-size: 16px;
}

.fullHeight {
  height: 100%;
  margin: 0;
}

.divider {
  border-left: 1px solid white;
}

.ul_no_padding {
  padding-left: 14px;
}
.gridList {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  grid-column-gap: 10px;
}
.gridList[class$="two"] {
  grid-template-columns: auto auto;
}
.gridList[class$="three"] {
  grid-template-columns: auto auto auto;
}
.my_title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.my_title.small {
  font-size: 15px;
}
.font_handschrift {
  font-family: "journal";
  letter-spacing: 1px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}
.pointer {
  cursor: pointer;
}

.warning.ui.popup > .header {
  font-size: 14px;
  color: rgb(122, 122, 122);
  padding-bottom: 5px;
  padding: 5px 5px;
  border-bottom: 1px solid rgba(222, 222, 222, 1);
}
.warning.ui.popup > .header + .content {
  padding-top: 1.5em;
}
.exerciseContainer div {
  padding: 5px 0;
}

.instructionsField {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 76px;
}

.ui.popup.instructionsPopup {
  background: transparent;
  box-shadow: 0 0 0 0 transparent;
  border: 0;
  max-width: 100%;
}

/*
MAIN MENU CONTAINER (GRUNDRISS; CHECKLIST
*/

.main_menu {
  display: flex;
  flex-direction: column;
}

/* Exercise Frame*/
.exerciseFrame {
  display: flex;
  margin: 25px auto 0px;
  flex-direction: row;
  width: 930px;
  height: 497px;
  padding: 0;
  border: 1px solid grey;
  overflow: hidden;
}
.exerciseFrame > .ui.image {
  margin: 0;
}
.exerciseFrame > .centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.exerciseFrame .textIntro {
  width: 250px;
}

.exerciseFrame .absolute {
  position: absolute !important;
}
.exerciseFrame .absolute.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exerciseFrame .relative {
  position: relative;
}

.exerciseFrame .hoverReveal img {
  visibility: hidden;
}
.exerciseFrame .hoverReveal:hover img {
  visibility: visible;
}
